footer{
    padding: 200px 0 50px;
    margin-top: 50px;
    background-image: url(https://coderthemes.com/dojek/layouts/images/footer-light-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.table{
    padding-bottom: 50px;
    justify-content: space-between;
}



tr, th, td{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: left;
}

.table-header{
    font-size: 22px;
}

.td-tr{
    font-size: 12px;
}